<div id="hunter-item-<%-i%>" class="hunter-item">
    <img src="/static/images/eve_wanted_logo.png" alt="Hunter player picture" width="50" height="50" />
    <p class="hunter-name">Bedjes</p>
    <p class="hunter-total">Total reward :</p>
    <p class="hunter-value">100 000 isk</p>
</div>