<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light">

    <div class="container-fluid">

        <a class="navbar-brand d-flex" href="/">
            <img src="https://images.evetech.net/corporations/98750565/logo" alt="EVE-Wanted logo" width="50" height="50" />
            <p class="ms-2 my-auto">EVE-Wanted</p>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end align-items-center" id="collapse">

                <ul class="navbar-nav text-end">
                <li class="nav-item">
                    <p class="btn-username mb-0 nav-link">Veuillez vous connecter</p>
                </li>
            </ul>
        </div>
    </div>