<div id="wanted-item-<%-i%>" class="wanted-item">
    <p class="wanted-title">WANTED</p>
    <img src="/static/images/eve_wanted_logo.png" alt="Wanted player picture" width="50" height="50" />
    <p class="wanted-title">Dead or Alive</p>
    <p class="wanted-title">Bedjes</p>
    <p class="wanted-title">100 000 isk</p>
</div>